*
{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../media/fundo.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    text-align: center;
}

h1{
    margin: 0px;
    font-size: 42px;
    color: rgb(206, 206, 206);
}

h2
{
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 20px;
}

h3
{
    margin: 0px;
    font-size: 25px;
    color: rgb(255, 255, 255); 
}

table 
{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 15px;
    color: rgb(206, 206, 206);
    
}

.giff
{
    border-radius: 100px;
}